
//------ Colors -----//
$black:  #222222;
$white:  #ffffff;
$green:  #2ecc71;
$grey:   #848484;
$ice:    #e3e3e3;

//------ Font ------//
$font-family: 'Open Sans';

//------ Size Fonts -----//
$sl-font:  10px;
$sl2-font: 12px;
$sl3-font: 14px;
$md-font:  16px;
$bg-font:  20px;
$bg2-font: 30px;
$bg3-font: 40px;


//------ Width ------//
$content : 1180px;


//------ Default Settings ------//
$color: $black;
$font:  14px;